.card_height_100{
    height:calc(100% - 30px)
}
.main{
    margin-top: -30px;
}
.blud_card{
    background:#4567ee!important;
    background-repeat:no-repeat;
    background-position:bottom
}
.blud_card p{
    color:#bcd3ff;
    font-size:16px;
    font-weight:400;
    margin-bottom:20px;
    margin-top:10px
}
.blud_card img{
    width:100%
}
.white_box {
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.btn_2 {
    color: #4efea2;
    border: 1px solid #4efea2;
    padding: 11px 23px;
    float: left;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    white-space: nowrap;
    -webkit-transition: .5s;
    transition: .5s;
    font: barlow,sans-serif;
}
.btn_2:hover{
    background-color: #4efea2;
    color: #fff!important;
    font-weight: 400;
}
a {
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}
.main-title h3 {
    font-family: barlow,sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2d1967;
    line-height: 1.2;
}
.text_white {
    color: #fff!important;
}
h3 {
    font-size: 26px;
}
.blud_card p {
    color: #bcd3ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}
p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #828bb2;
    font-family: barlow,sans-serif;
    font-weight: 300;
}