<div *ngIf="router.url==='/Mprofiles'" class="main h-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="white_box QA_section card_height_100 blud_card">
            <div class="box_header m-0">
                <div class="main-title">
                    <h3 class="m-0 text_white">2400 + New Users</h3>
                </div>
            </div>
            <div class="content_user">
                <p>At vero eos et accusamus et iusto odio
                    dignissimos ducimus</p>
                <a routerLink="/Mprofiles/users" class="btn_2">View More</a>
                <img src="../../../assets/images/users_img.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="white_box QA_section card_height_100 blud_card">
            <div class="box_header m-0">
                <div class="main-title">
                    <h3 class="m-0 text_white">2400 + New Donors</h3>
                </div>
            </div>
            <div class="content_user">
                <p>At vero eos et accusamus et iusto odio
                    dignissimos ducimus</p>
                <a routerLink="/Mprofiles/donors" class="btn_2">View More</a>
                <img src="../../../assets/images/users_img.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="white_box QA_section card_height_100 blud_card">
            <div class="box_header m-0">
                <div class="main-title">
                    <h3 class="m-0 text_white">2400 + Employees</h3>
                </div>
            </div>
            <div class="content_user">
                <p>At vero eos et accusamus et iusto odio
                    dignissimos ducimus</p>
                <a routerLink="/Mprofiles/employee" class="btn_2">View More</a>
                <img src="../../../assets/images/users_img.png" alt="">
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>