<header class="header">
	<div class="header-inner">
		<div class="container-fluid px-lg-5">
			<nav class="navbar navbar-expand-lg my-navbar">
				<a class="navbar-brand" href="#"><span class="logo">
						<img src="../../assets/images/logo5.png" class="img-fluid"
							style="width:30px; margin:-3px 0px 0px 0px;">e-RaktKosh
					</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav m-auto">
						<li class="nav-item active">
							<a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" routerLink="/home">Home<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							<div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Looking For Blood
							</div>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse" routerLink="">Blood Availability</a>
								<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse" routerLink="">Thalassemia Request</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Want to Donate
							</div>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse" routerLink="">Appointment for Blood Bank</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" routerLink="/gallery">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" routerLink="/contact">Contact Us</a>
						</li>
					</ul>
					<div class="form-inline my-2 my-lg-0">
						<a style="text-decoration: none;" class="header-btn my-2 my-sm-0" type="submit" routerLink="/login">e-Raktkosh Login</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
<section class="content-banner" *ngIf="router.url==='/home' || router.url==='/'">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-12">
				<div class="banner-con text-center">
					<p class="first-title">Donate Blood &amp; Save a Life</p>
					<p class="banner-des">Blood Donation Is A Small Act Of Kindness That Does Great And Big Wonders.</p>
					<a href="#" class="banner-btn">Donate Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<br><br><br>
<router-outlet></router-outlet>