<app-navbar></app-navbar>
<div class="block-sec">
    <div class="page-header">
        <h3 class="text-danger">Camp Schedule</h3>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">Search Camp</div><br>
        <input class="form-control search" (keyup)="filterData($event)" type="text" placeholder="Search.."><br><br>
        <div class="panel-body">
            <table class="dataTable table table-bordered table-hover" *ngIf="notFound!=='not found'">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date&nbsp;<i (click)="onApply('date')" class="fa fa-sort"></i></th>
                        <th>Time&nbsp;<i (click)="onApply('time')" class="fa fa-sort"></i></th>
                        <th>CampName&nbsp;<i (click)="onApply('camp_name')" class="fa fa-sort"></i></th>
                        <th>Address&nbsp;<i (click)="onApply('address')" class="fa fa-sort"></i></th>
                        <th>Conducted By&nbsp;<i (click)="onApply('conducted_by')" class="fa fa-sort"></i></th>
                        <th>Organized by&nbsp;<i (click)="onApply('organized_by')" class="fa fa-sort"></i></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="camplist?.length != 0" id="myTable">
                    <tr *ngFor="let camp of camplist | paginate :{
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                    }; index as i">
                        <td>{{i+1}}</td>
                        <td>{{camp.date}}</td>
                        <td>{{camp.time}}</td>
                        <td>{{camp.camp_name}}</td>
                        <td>{{camp.address}}</td>
                        <td>{{camp.conducted_by}}</td>
                        <td>{{camp.organized_by}}</td>
                        <div *ngIf="authenticated">
                            <td *ngFor="let ids of idArr">
                                <button class="bookedbtn"
                                    *ngIf="ids.refcamp===camp._id && ids.refuser===userId;else other_content"
                                    disabled>BOOKED</button>
                                <ng-template #other_content>
                                    <button class="bookbtn" data-toggle="modal"
                                        (click)="bookApp(camp._id)">BOOK</button>
                                </ng-template>
                                <!-- <div *ngIf="ids.refcamp!==camp._id || ids.refuser!==userId">
                                    <button class="bookbtn" data-toggle="modal"
                                        (click)="bookApp(camp._id)">BOOK</button>
                                </div> -->
                            </td>
                        </div>
                        <div *ngIf="!authenticated">
                            <td>
                                <button class="bookbtn" (click)="bookApp(camp._id)">BOOK</button>
                            </td>
                        </div>
                    </tr>
                </tbody>
                <tbody *ngIf="camplist?.length == 0" id="myTable">
                    <tr>
                        <td style="font-weight:500;text-align: center;color:red" colspan="8" class="no-data">No Data
                            Found!</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover" *ngIf="notFound==='not found'">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Time&nbsp;<i class="fa fa-sort"></i></th>
                        <th>CampName&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Address&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Conducted By&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Organized by&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" style="text-align: center;color: red;">
                            No Records Found!
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="camplist?.length != 0">
        <pagination-controls class="pagi" (pageChange)="gty((page = $event))"></pagination-controls>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" style="display: none;" id="modalid" data-toggle="modal" data-target="#exampleModal"></button>
<!-- Eligibility Requirements modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel">Eligibility Requirements</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-donor-elig></app-donor-elig>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" style="display: none;" id="modalidform" data-toggle="modal"
    data-target="#EligibilityFormModal"></button>
<!-- Eligibility Form modal -->
<div class="modal fade" id="EligibilityFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalLongTitle">Eligiblity Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]=form (ngSubmit)="addEligForm()">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" formControlName="weight" placeholder="Enter Your Weight"
                            class="form-control">
                        <div class="err"
                            *ngIf="(form.get('weight')?.dirty || form.get('weight')?.touched) && form.get('weight')?.errors?.required">
                            *Weight is required
                        </div>
                        <div class="err"
                            *ngIf="!form.get('weight')?.errors?.required && (form.get('weight')?.errors?.pattern)">
                            *Weight Must Number only
                        </div>
                        <div class="err"
                            *ngIf="!form.get('weight')?.errors?.forbiddenWeight && !form.get('weight')?.errors?.required && !form.get('weight')?.errors?.pattern">
                            *Weight Must Be Greater Than 45kg
                        </div><br>
                        <input type="text" formControlName="hemog" placeholder="Enter Your Haemoglobin"
                            class="form-control">
                        <div class="err"
                            *ngIf="(form.get('hemog')?.dirty || form.get('hemog')?.touched) && form.get('hemog')?.errors?.required">
                            *Haemoglobin is required
                        </div>
                        <div class="err"
                            *ngIf="!form.get('hemog')?.errors?.required && (form.get('hemog')?.errors?.pattern)">
                            *Enter Valid Haemoglobin level
                        </div>
                        <div class="err"
                            *ngIf="!form.get('hemog')?.errors?.forbiddenWeight && !form.get('hemog')?.errors?.required && !form.get('hemog')?.errors?.pattern">
                            *Haemoglobin level Must Be Greater Than 12 Deciliter
                        </div><br>
                        <div class="input-group">
                            <input type="date" formControlName="dob" type="text" onfocus="(this.type='date')" id="date"
                                class="form-control" max="{{maxDate}}" placeholder="Date Of Birth in DD-MM-YYYY">
                        </div>
                        <div class="err"
                            *ngIf="(form.get('dob')?.dirty || form.get('dob')?.touched) && form.get('dob')?.errors?.required">
                            *Date Of Birth is required
                        </div><br>
                        <div class="input-group">
                            <input type="date" formControlName="last_donate" type="text" onfocus="(this.type='date')"
                                id="date" class="form-control" max="{{maxDate}}"
                                placeholder="Select Last Donate in DD-MM-YYYY">
                        </div>
                        <div class="err"
                            *ngIf="(form.get('last_donate')?.dirty || form.get('last_donate')?.touched) && form.get('last_donate')?.errors?.required">
                            *Last Donate Date is required
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="submit-btn">Book AppointMent</button>
                    <!-- [disabled]="!form.valid" -->
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
<router-outlet></router-outlet>