.section-subheading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: #4d4d4d;
    margin-bottom: 24px;
    padding: 30px 0 0 24px;
    word-spacing: 0.03em;
    margin-top: 50px;
}
.section-subheading {
    font-size: 18px;
    padding: 0px;
}
.section-heading:after {
    background-image: url(../../assets/images/gallery/separator.png);
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    top: 55px;
    width: 150px;
}
.gallery-light-box .gallery-img img {
    width: 100%;
    max-width: 100%;
    display: block;
    opacity: 1;
    transition: all 0.7s ease-out 0s;
}