<div class="container">
    <div class="row" class="">
        <br>
        <mat-tab-group>
            <mat-tab label="STOCK">
                <router-outlet *ngIf="router.url==='/Mdetails/storage/stock' || router.url==='/Mdetails/storage'">
                </router-outlet>
            </mat-tab>
            <mat-tab label="REQUEST">
                <router-outlet *ngIf="router.url==='/Mdetails/storage/urequest'">
                </router-outlet>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>