<div class="container">
    <div class="row" class="">
        <br>
        <mat-tab-group (selectedTabChange)="onChange($event)">
            <mat-tab label="STOCK">
                <router-outlet routerLink="/Mdetails/storage/stock">
                </router-outlet>
            </mat-tab>
            <mat-tab label="REQUEST">
                <router-outlet routerLink="/Mdetails/storage/urequest">
                </router-outlet>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>