<p>Any healthy adult, both male and female, can donate blood. Men can donate safely once in every three months while
    women can donate every four months.</p>
<hr>
<div class="block">
    <div class="block-inner">
        <h6>Weight</h6>
        <p>The Donor Should not be less than 45 Kilograms.</p>
    </div>
    <div class="block-inner">
        <h6>Age</h6>
        <p>The systolic and diastolic blood pressures are within normal limits.</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Pulse</h6>
        <p>Temperature and Pulse of the donor shall be normal.</p>
    </div>
    <div class="block-inner">
        <h6>Haemoglobin</h6>
        <p>Haemoglobin should not be less than 12.5 grams.</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Malaria</h6>
        <p>Should Not have been treated for malaria in last 3 months or 3 years if residing in endemic areas </p>
    </div>
    <div class="block-inner">
        <h6>Immunization & Vaccination</h6>
        <p>Should NOT have had shots for any of the following - Cholera, Typhoid, Diptheria, Tetanus, Plague, Gammaglobulin in
        last 15 days; Rabies vaccination in last 1 year.</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Tattoo/Acupunture</h6>
        <p>Should NOT have had any in last 12 months.</p>  
    </div>
    <div class="block-inner">
        <h6>Scars/Skin Puncture</h6>
        <p>Arms & Forearms should be free from Skin punctures or Scars which are indicative of Intravenous drug use or frequent
        blood donations.</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Surgery</h6>
        <p>Should NOT have had Tattoo in last 6 months.</p>
    </div>
    <div class="block-inner">
        <h6>Cancer</h6>
        <p>Should NOT have any forms of cancer</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Heart Disease</h6>
        <p>Should NOT have any Heart diseases.</p>
    </div>
    <div class="block-inner">
        <h6>Infection</h6>
        <p>Should NOT have Hepatitis B, C, Tuberculosis, Leprosy, HIV.</p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Other Disease</h6>
        <p>Should NOT have Epilepsy, Asthma on Steroids, Bleeding disorders, Thalassemia, Sickle Cell Anemia, Polycythemia Vera.
        </p>
    </div>
    <div class="block-inner">
        <h6>High Risk Individuals</h6>
        <p>Should NOT have had any history of Genital ulcers/Discharge, History of multiple sexual partners and Drug Addiction.
        </p>
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Dentist</h6>
        <p>YES if whitening or impression. YES the day after a filling (restoration), cleaning or orthodontics. YES 3 days after
        an extraction, surgery, root canal, crown, root planing, gum autograft or implant.</p>
    </div>
    <div class="block-inner">
        <h6>Medication</h6>
        <p>Certain medications may pose a risk to the donor or recipient, and if you're taking them you will not be able to give
        blood.</p>        
    </div>
</div>
<div class="block">
    <div class="block-inner">
        <h6>Drugs</h6>
        <p>You cannot give blood if injected intravenously, even once.</p>
    </div>
    <div class="block-inner">
        <h6>Diabetes</h6>
    <p>YES if resolved or controled by diet or oral drug. NO if treated with insulin injections.</p>
    </div>
</div>