<h2 mat-dialog-title class="text-center">ADD APPOINTMENT</h2>
<mat-card-content>
    <form role="form" [formGroup]=form (ngSubmit)="addStockForm()">
        <mat-form-field>
            <mat-label>CampName</mat-label>
            <mat-select formControlName="campfield">
                <mat-option [value]="camp._id" *ngFor="let camp of campNames">{{ camp.camp_name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="campfield.touched && campfield.hasError('required')">*CampName is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Bl.Comp</mat-label>
            <mat-select formControlName="blood_compo">
                <mat-option [value]="groupComData._id" *ngFor="let groupComData of ComArray">{{ groupComData.component }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="blood_comp.touched && blood_comp.hasError('required')">Bl.Comp is required</mat-error>
        </mat-form-field>

        <div class="mbutton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
                [mat-dialog-close]="true">ADD</button>
            &nbsp;<button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
        </div>
    </form>
</mat-card-content>