<h2 mat-dialog-title class="text-center">ADD APPOINTMENT</h2>
<mat-card-content>
    <form role="form" [formGroup]=form (ngSubmit)="addAppForm()">
        <mat-form-field>
            <mat-label>CampName</mat-label>
            <mat-select formControlName="refcamp">
                <mat-option [value]="camp._id" *ngFor="let camp of campNames">{{ camp.camp_name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('refcamp')?.touched && form.get('refcamp')?.errors?.required">*CampName is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>UserNames</mat-label>
            <mat-select formControlName="userfield">
                <mat-option [value]="user._id" *ngFor="let user of userNames">{{ user.email }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('userfield')?.touched && form.get('userfield')?.errors?.required">*UserName is required</mat-error>
        </mat-form-field>

        <div class="mbutton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
                [mat-dialog-close]="true">ADD</button>
            &nbsp;<button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
        </div>
    </form>
</mat-card-content>