@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600|Source+Sans+Pro:400,600,700");
/*footer styles*/
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
  .footer-icon a {
    display: block;
    margin-bottom: 15px;
  }
}
.footer-icon {
  text-align: center;
}
.footer-icon a {
  padding: 0 50px;
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
/*footer styles*/
/*home styles*/
h1 {
  font-size: 36px;
}
.slick-slider {
  cursor: pointer;
  width: 100%;
  margin: auto;
}
.mainClass {
  overflow-x: hidden;
}
.learnAbt {
  color: #ea2f2c;
  text-transform: uppercase;
}
blockquote {
  font-family: Consolas, "Times New Roman", Verdana;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
/*home styles*/
/*nav bar styles*/
a:hover {
  color: #eee;
}
body {
  font-family: "Montserrat" sans-serif;
}

@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: white !important;
  }
  .nav-item > .nav-link {
    color: black !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .content-banner .first-title {
    font-size: 30px !important;
  }
}
a {
  font-weight: 500;
  text-decoration: none;
}
.content-banner {
  color: #ffffff;
  background-image: url(./assets/images/blooddonate.jpg);
  min-height: 620px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 230px;
}

.content-banner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(57, 49, 49, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 0px 0px 12px;
}

.content-banner .banner-des {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.banner-btn {
  padding: 0 34px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 16px;
  background-color: #fe4066;
  display: inline-block;
  color: #ffffff;
  transition: 0.3s;
  text-align: center;
}

.banner-btn:hover {
  text-decoration: none;
  color: #fe4066;
  background-color: white;
}

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  /* background-color: transparent; */
  background-color: #282d32;
}

.logo {
  color: #ffffff;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #fe4066;
}
.nav-item .header-btn:hover {
  color: #ffffff;
}
.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fe4066;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

.first-title {
  text-transform: capitalize;
}

section {
  background-color: white;
  padding: 4rem 0rem 4rem;
}
section:nth-of-type(even) {
  background-color: #fe4066;
  color: white;
}
/*nav bar styles*/
/*panel and camp css*/
.text-danger {
  color: #a94442;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.panel-danger>.panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-body th{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-weight: normal;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.btn{
  float: right;
  color: #a94442;
  text-transform: uppercase;
  background-color: #f2dede;
  outline: none !important;
  box-shadow: none;
}
.pagi{
  float: right;
}
.search{
  width: 300px;
  float: right;
}
i{
  cursor: pointer;
}
.err{
  font-size: 10px;
  color: red;
}
.close-btn{
  background-color: gray;
}
.submit-btn{
  background-color: #7299df;
}
.close-btn,.submit-btn{
  outline:none;
  font-weight: 500;
  color: white;
  border: none;
  padding: 5px;
}
.form-control,.search{
  outline: none !important;
  box-shadow: none !important;
}
.block-sec{
  margin:0 60px 0 60px;
}
/*panel and camp css*/
/*login css*/

/*login css*/