<div style="height: 100vh;" class="fixed-header">
    <mat-toolbar class="mat-elevation-z5" color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/login">
            <mat-icon>airplay</mat-icon>&nbsp;<span>WelCome Admin</span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true" *ngIf="!authenticated">
            <img src="assets/images/myimage.png">
        </div>
        <div fxShow="true" fxHide.lt-md="true" *ngIf="authenticated">
            <a mat-button routerLink="/Mprofiles">All Profiles</a>
            <a mat-button routerLink="/Mdetails">All Details</a>
            <a mat-button routerLink="/Adetails">Total Approvals</a>
            <a (click)="logOut()"><img src="assets/images/logout.png"></a>
        </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column" *ngIf="authenticated">
                <a mat-button routerLink="/Mprofiles">All Profiles</a>
                <a mat-button routerLink="/Mdetails">All Details</a>
                <a mat-button routerLink="/Adetails">Total Approvals</a>
                <a (click)="logOut()"><img src="assets/images/logout2.png"></a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>