.companyName {
  font-size: 90%;
}
.mat-toolbar a{
  color: white;
}
.mat-toolbar img{
  width:2em; 
  height:2em;
  cursor: pointer;
}
.active{
   background: rgba(255,255,255,.15);
}
#menuimg1,#menuimg2{
  width:2em; 
  height:2em;
  cursor: pointer;
}
.mat-sidenav a:hover {
  color: black;
}
.mat-sidenav img{
  width:1.5em; 
  height:1.5em;
  cursor: pointer;
  display: block;
  margin: auto;
}
div {
  overflow: inherit;
}
a {
  text-decoration: none;
  font-size: 90%;
  white-space: normal;
  font-family: "Josefin Sans", sans-serif;
}
button {
  font-size: 90%;
  min-width: min-content;
}
.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav {
  width: 250px;
}
.mat-sidenav a {
  color: black;
  font-size: 15px;
}
.mat-sidenav-content {
  text-align: center;
}
.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}