<h2 mat-dialog-title class="text-center">ADD USER</h2>
<mat-card-content>
    <form role="form" [formGroup]=form (ngSubmit)="UpdateUserForm()">
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
        </mat-form-field><br>

        <mat-radio-group aria-label="Select Gender" formControlName="gender">
            <mat-radio-button value="m">Male</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="f">Female</mat-radio-button>
            <mat-error *ngIf="gender.touched && gender.hasError('required')">Gender is required</mat-error>
        </mat-radio-group><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Mobile" formControlName="mobile">
            <mat-error *ngIf="mobile.touched && mobile.hasError('required')">MobileNo is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
            <mat-error *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')"><small>Passwords are not
                matching</small></mat-error><br>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Bl.Group</mat-label>
            <mat-select formControlName="blood_group">
                <mat-option [value]="groupData._id" *ngFor="let groupData of GroupArray">{{ groupData.group }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="blood_group.touched && blood_group.hasError('required')">Bl.Group is required</mat-error>
        </mat-form-field>

        <button type="button" color="accent" mat-raised-button (click)="fileInput.click()">Choose Profile</button>
        <input hidden (change)="uploadFileEvt($event)" #fileInput type="file" id="file" formControlName="imageUrl">&nbsp;{{text}}
        <mat-error *ngIf="imageUrl.touched && imageUrl.hasError('required')"><small>Profile is required</small></mat-error><br>
        <mat-hint *ngIf="!form.valid"><small>Please fill out all needed information</small></mat-hint>
        
        <div class="mbutton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
                [mat-dialog-close]="true">UPDATE</button>
            &nbsp;<button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
        </div>
    </form>
</mat-card-content>