@import url("https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/* Custom CSS Classes */

.mat-card {
  text-align: -webkit-center;
}

.demo-toolbar {
  display: flex;
  align-items: center;
  width: 60%;
}

.demo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.demo-full-width {
  width: 100%;
}

mat-card {
  max-width: 80%;
  margin: 0.1em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.content-center {
  text-align: -webkit-center;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

strong {
  font-size: 30px;
}

/* Specific class for table */

.example-container[_ngcontent-c21] {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px #00000033, 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-cell {
  text-align: -webkit-left;
}

.mat-header-cell {
  text-align: left;
}
.usercard {
  margin-top: 0px;
}
.mat-raised-button:focus,
.mat-icon-button:focus,
.mat-menu-item:focus,
button {
  outline: 0 !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
form {
  width: 350px;
}
.mat-form-field {
  width: 100%;
}
.mbutton {
  float: right;
}
/*Profiles & Details Card Styles*/
.card_height_100 {
  height: calc(100% - 30px);
}
.main {
  margin-top: -40px !important;
  position: absolute;
}
.blud_card {
  background: #4567ee !important;
  background-repeat: no-repeat;
  background-position: bottom;
}
.blud_card p {
  color: #bcd3ff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}
.blud_card img {
  width: 100%;
}
.white_box {
  padding: 30px;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.btn_2 {
  color: #4efea2;
  border: 1px solid #4efea2;
  padding: 11px 23px;
  float: left;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font: barlow, sans-serif;
}
.btn_2:hover {
  background-color: #4efea2;
  color: #fff !important;
  font-weight: 400;
}
a {
  text-decoration: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-title h3 {
  font-family: barlow, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2d1967;
  line-height: 1.2;
}
.text_white {
  color: #fff !important;
}
h3 {
  font-size: 26px;
}
.blud_card p {
  color: #bcd3ff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}
p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #828bb2;
  font-family: barlow, sans-serif;
  font-weight: 300;
}
/*Profiles & Details Card Styles*/
/*Blood Bank & MyProfile Styles*/
.mybutton {
  border: none;
  outline: none;
}
.form-control {
  box-shadow: none;
}
.edit-show {
  margin-left: 10px !important;
}
.edit-btn,
.edit-show {
  float: left;
}
mat-icon {
  color: white;
}
textarea {
  resize: none;
}
/*Blood Bank & MyProfile Styles*/
/*view profile & BviewProfile styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f3f3f3;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: #dff7e7;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
  color: #353c4e;
}

.wrapper .left p {
  font-size: 12px;
  color: #353c4e;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: #dff7e7;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #919aa3;
  display: block;
  font-size: 18px;
}

.modal {
  position: relative;
}
.closbtn {
  position: absolute;
  padding: 0;
  right: 10px;
  top: 5px;
}

/*view profile & BviewProfile styles*/
