<h2 mat-dialog-title class="text-center">ADD CAMP</h2>
<mat-card-content>
    <form role="form" [formGroup]=form (ngSubmit)="addUserForm()">
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="name">
            <mat-error *ngIf="name.touched && name.hasError('required')">Username is required</mat-error>
        </mat-form-field><br>
        
        <div class="mbutton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
                [mat-dialog-close]="true">ADD</button>
            &nbsp;<button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
        </div>
    </form>
</mat-card-content>